.game-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* margin: 15px 75px; */
}

.boxart-img {
  padding: 25px;
  width: 250px;
  height: auto;
}

.game-details-boxart {
  padding: 16px;
}
.game-details-title {
  padding: 16px;
}
/* h1 {
    font-family: HK Modular;
} */
.game-details-subscription {
  padding: 16px;
}

/* button {
  background-color: #5e17eb;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 52px;
  gap: 50px;
} */

.rating-circle {
  width: 30px;
  height: 30px;
  background-color: green;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/* .filter {
  display: inline-block
} */

.filter span {
  margin: 0;
  padding: 16px 4px;
  min-height: 90px;
  height: 95px;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  flex-shrink: 0;
}

/* .filter p{
  display: inline-block;
} */

.filter img {
  width: 50px;
  margin: 5px;
}
/* transform: rotate(180deg); */

/* writing-mode: vertical-lr; -ms-writing-mode: tb-lr;  display: flex;
    align-items: center;
    justify-content: center;*/

.single-page-button {
  display: flex;
  justify-content: flex-end;
  gap: 10px
}

@media only screen and (max-width: 1024px) {
  .game-container {
    display: grid;
    gap: 10px;

    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 767px) {
  .game-container {
    display: grid;
    gap: 5px;

    grid-template-columns: repeat(1, 1fr);
  }
}