.sort-buttons {
  display: flex;
  justify-content: flex-end;
}

.sort-buttons button {
  margin-top: 10px;
  margin-right: 10px;
}

.list-view .search-results {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.list-view .search-results-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px 0;
  background-color: #f9f9f9;
}

.grid-view .search-results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
  justify-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.grid-view .search-results-item {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  margin: 5px;
}

.search-results-title {
  margin-left: 20px;
}