.sort-buttons {
  display: flex;
  justify-content: flex-end;
}

.sort-buttons button {
  margin-top: 10px;
  margin-right: 10px;
}

.sort-buttons button.selected {
  background-color: rgba(255, 11, 255, 0.8);
  color: #ffffff;
}