/* @font-face {
  font-family: "Modular";
  src: url("../Font-assets/Modulario.ttf");
} */
.container {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 30px 50px 30px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
  margin: 0px 50px 50px;
  /* font-family: "Modular", monospace;
  letter-spacing: 1px; */
}
.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  margin: 10px 100px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  /* margin-right: 11em; */
  margin-bottom: 50px;
  gap: 20px;
}

.button-container button {
  font-family: "Modular", monospace;
  letter-spacing: 1px;
  width: 125px;
  height: 50px;
  margin: 10px;
  font-size: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .grid-container {
    display: grid;
    gap: 10px;

    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .grid-container {
    display: grid;
    gap: 5px;

    grid-template-columns: repeat(1, 1fr);
    margin: 5px;
  }
}
