/* @font-face {
  font-family: "Modular";
  src: url("../Font-assets/Modulario.ttf");
} */

/* make this more of a global css so that we dont have to do it each component individually  */
.catalog .container {
  margin: 0 auto;
  padding: 0 30px;
}

.catalog h1 {
  font-size: 2em;
  /* margin: 30px 100px 30px; */
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
}

.catalog p {
  font-size: 1.2em;
  line-height: 1.5;
  /* margin: 0px 100px 50px; */
  /* font-family: "Modular", monospace;
  letter-spacing: 1px; */
}
.catalog .grid-container {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 15px;
}

.catalog .button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  /* margin-right: 11em; */
  margin-bottom: 50px;
  gap: 20px;
}

.catalog .button-container button {
  font-family: "Modular", monospace;
  letter-spacing: 1px;
  width: 125px;
  height: 50px;
  margin: 10px;
  font-size: 20px;
}

.catalog-sorting-buttons {
  margin-bottom: 25px;
}

.sorting-and-filtering {
  display: flex;
  align-items: center;
}

.subscription-filter {
  margin-top: 10px;
  position: relative;
}

.dropdown {
  position: relative;
  display: flex;
  text-align: center;
}

.dropdown-title {
  white-space: nowrap;
  padding: 10px;
  border: none;
  border-radius: 52px;
  background-color: #5e17eb;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100px;
  margin-right: 10px;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: none;
  border-radius: 52px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 1;
  color: black;
  padding: 5px;
  display: block;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.4);
  transform: translateY(20px);
  transition: all 200ms linear;
}

.option {
  padding: 10px;
  display: flex;
  align-items: center;
}

.option input {
  margin-right: 8px;
}

.option:hover {
  background-color: #0ebac7;
}

.arrow {
  font-size: 14px;
  margin-left: 5px;
}

.selected-services-message {
  display: block;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  background-color: white;
  color: black
}

@media only screen and (max-width: 1024px) {
  .catalog .grid-container {
    display: grid;
    gap: 10px;

    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 767px) {
  .catalog .grid-container {
    display: grid;
    gap: 5px;

    grid-template-columns: repeat(1, 1fr);
  }
}
