.sign-up-container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.sign-up-form {
  width: 640px;
  height: 320px;
  border: 1px solid black;
  padding: 15px;
  border-radius: 16px;
  display: grid;
  gap: 25px;
  box-shadow: 1px 1px 3px black;
}

.sign-up-form button {
  margin: 0;
}

input[type=email], input[type=password] {
  border: none;
  border-radius: 16px;
  padding: 5px;
  box-shadow: 1px 1px 3px black;
}