.homepage {
  max-width: 1200px; /* Set a max-width for the content */
  margin: 0 auto; /* Center the content horizontally */
  padding: 20px; /* Add padding for spacing around the content */
}

.welcome-message {
  margin-bottom: 20px; /* Add spacing below the welcome message */
}

.carousel-section {
  margin-bottom: 40px; /* Add spacing between carousel sections */
}

/* .modal {
  top: 25%;
} */

