.search-container {
  flex: 1;
}

.search {
  display: flex;
}

.search-input {
  border-radius: 16px;
  flex: 1;
}

.search-input::placeholder {
  color: #888;
  font-weight: bold;
}

.search-submit {
  width: 50px;
}
