.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px; /* Set the width as needed */
  height: 200px; /* Set the height as needed */
  perspective: 1000px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain the aspect ratio */
  transition: transform 0.5s;
}
