.card {
  display: flex;
  transform:rotateX(0) rotateY(0);
  /* justify-content: center; */
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 300px;
  padding: 5px 5px;
  border-radius: 10px;
  position: relative;
}

img {
  width: 100%;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.5s;
}

.card-item__details {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0.9)),
    to(rgba(0, 0, 0, 0))
  );
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  font-size: 25px;
  opacity: 0;
  -webkit-transition: 450ms opacity;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  overflow: hidden;
}

.card-item__details:hover {
  opacity: 1;
}

.card-item__details button {
  padding: 5px;
}

.card-item__details .controls {
  display: flex;
  align-items: center;
  /* padding-top: 200px; */
}

.controller,
.clipboard,
.heart {
  font-size: 18px; 
  display: flex;
  align-items: center;
  border: none; 
  transition: background-color 0.3s, color 0.3s;
}

.controller {
  background-color: white;
  color: black;
  margin-left: 5px;
}

.clipboard {
  background-color: white;
  margin-left: 5px;
  color: black;
}

.heart {
  background-color: white;
  color: black;
  margin-left: 5px;
}

.controller.minus {
  background-color: #5E17EB;
  color: white;
}

.clipboard.minus {
  background-color: rgba(255, 11, 255, 0.8);
  color: white
}

.heart.minus {
  background-color: #0ebac7;
  color: white
}

.card-item__details .card-item__details--title {
  color: #fff;
  margin: 5px 0;
}

.card-item__details--title {
  position: absolute;
  bottom: 10px;
  max-height: 50%; 
  overflow: hidden; 
}

.controls {
  justify-content: flex-end;
}