@font-face {
  font-family: "Modular";
  src: url("../Font-assets/Modulario.ttf");
}

.navbar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: #5e17eb;
  padding: 10px 0;
}
.navbar-icon{
    position: absolute;
}
.navbar-links {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content:  space-evenly;Use space-evenly for even spacing */
  align-items: center; /* Align items vertically at the center */
  /* max-width: 600px;
  width: 100%; */
  font-family: "Modular", monospace;
  color: white;
  letter-spacing: 1px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  margin: 3px 15px;
  
}

.navbar-links a:hover {
  /* color: #00ffff; */
  color:  #ff0bff;
}

.navbar-links a:active-link {
  color:  #ff0bff;
}
.navbar-logo img {
  max-width: 150px;
  max-height: 100%;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
    .navbar-links {
        justify-content :space-evenly;
    }
}

@media screen and (max-width:480px) {
    .navbar {
        flex-direction:column;
        align-items: center;
    }
    .navbar-links {
        justify-content: center;
    }
    .navbar-links a {
        margin: 5px 0;
    }
}
