:root {
  --z-mobile-menu: 9999;
}

* {
  box-sizing: border-box;
}

.App {
  /* cursor: url(icons8-map-pin-50.png), auto; */
  cursor: default;
}

a,
a:visited,
a:active,
a:hover,
button,
button:hover {
  /* cursor: url(icons8-map-pin-50.png), auto;
   */
  cursor: default;
}
