body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212121;
  margin: auto;
  color: white;
  padding-bottom: 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  position: relative;
  min-height: 100%;
}

button {
  background-color: #5e17eb;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 52px;
  gap: 50px;
}
